@font-face {
  font-family: "BNazanin";
  font-style: normal;
  font-weight: normal;
  src: url("./BNazanin.eot");
  src: url("./BNazanin.eot?#iefix") format("embedded-opentype"), url("./BNazanin.woff") format("woff"),
    //  url("./BNazanin.woff2") format("woff2"),
    url("./BNazanin.ttf") format("truetype");
}

/*
@font-face {
	font-family:"BNazanin";
	font-style: normal;
	font-weight: bold;
	src: url("./BNazanin.eot");
  src: url("./BNazanin.eot?#iefix") format('embedded-opentype'),
	 url("./BNazanin.woff") format("woff"),
	//  url("./BNazanin.woff2") format("woff2"),
	 url("./BNazanin.ttf") format("truetype");
}


@font-face {
	font-family:"BNazanin";
	font-style: normal;
	font-weight: 500;
	src: url("./BNazanin.eot");
  src: url("./BNazanin.eot?#iefix") format('embedded-opentype'),
	 url("./BNazanin.woff") format("woff"),
	//  url("./BNazanin.woff2") format("woff2"),
	 url("./BNazanin.ttf") format("truetype");
}

@font-face {
	font-family:"BNazanin";
	font-style: normal;
	font-weight: 300;
	src: url("./BNazanin.eot");
	src: url("./BNazanin.woff") format("woff")
	// url("./BNazanin.woff2") format("woff2"),
	url("./BNazanin.ttf") format("truetype");
}
@font-face {
	font-family:"BNazanin";
	font-style: normal;
	font-weight: 200;
	src: url("./BNazanin.eot");
	src: url("./BNazanin.woff") format("woff")
	// url("./BNazanin.woff2") format("woff2"),
	url("./BNazanin.ttf") format("truetype");
}

*/
